html{
    background: rgb(20, 20, 20);
}

body{
    font-size: 2rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.clock{
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 0px auto;
    position: relative;
    padding: 2rem;
    
}

.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-4px);
}

.hand{
    width: 50%;
    height: 6px;
    background: white;
    position: absolute;
    top: 50%;
    transform-origin: 100% ;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1,2.7,0.58,1);
}

/* .hour-hand{
    width: 30%;
    transform-origin: 150% ;
    left: 85px;
    top: 42%;
} */

.digital{
    color: white;
    display: flex;
    gap: 5px;
}

.time{
    font-size: 2rem;
    color: white;
}

.seconds{
    font-size: 30px;
}